<li>
  <div class="info">
    <span>
      {{ 'tournament.rounds.startTime' | translate }}
      {{ match.start | date: 'HH:mm' }}
    </span>
    <span>
      {{ 'tournament.rounds.referee' | translate }}
      {{ match.referee?.name }}
    </span>
    <span>
      {{ 'tournament.rounds.fieldNumber' | translate }}
      {{ match.fieldNumber }}
    </span>
  </div>
  <div class="team">
    @for (team of match.teams1; track team.id) {
      <span>{{ team.name }}</span>
    }
  </div>
  <div class="score">
    <span>{{ match.score1 }}</span>
    <span>:</span>
    <span>{{ match.score2 }}</span>
  </div>
  <div class="team">
    @for (team of match.teams2; track team.id) {
      <span>{{ team.name }}</span>
    }
  </div>
</li>
