main {
  display: grid;
  grid-template-columns: 1fr 150px;
  column-gap: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--border-color);
}

.teams {
  border-right: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: 1fr 30px 16px;
}

.names {
  grid-column: 1;
}

.goals {
  grid-column: 2;
  align-self: center;
  justify-self: end;
}

.info {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 10px;

  .field {
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .field-number {
      font-size: 40px;
      color: var(--primary-color);
    }
  }

  span {
    font-size: 12px;
    font-style: italic;
  }
}
