header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: var(--primary-color);
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100% - 55px);

  ul {
    flex: 1;
    overflow-y: auto;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.time {
  display: flex;
  padding: 5px;
  border: 1px solid var(--border-color);
  align-items: center;
  gap: 12px;

  mat-icon {
    font-size: 40px;
    height: 40px !important;
    width: 40px !important;
  }

  .info {
    display: flex;
    flex-direction: column;
  }
}

.highlighted {
  font-weight: 500;
  font-size: 16px;
}

@media print {
  header,
  button {
    display: none !important;
  }
}
