@if (selectedRound()) {
  <header>
    <button
      mat-icon-button
      (click)="changeRoundToLeft()"
      [disabled]="selectedRound()?.number === 1">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h2>
      {{ 'tournament.rounds.round' | translate }}
      {{ selectedRound()?.number }}
    </h2>
    <button
      class="right"
      mat-icon-button
      (click)="changeRoundToRight()"
      [disabled]="selectedRound()?.number === store.rounds().length">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </header>
  <main>
    <div class="time" (click)="changeTimes()">
      <span>
        {{ 'tournament.rounds.startTime' | translate }}
        {{ selectedRound()?.start | date: 'HH:mm' }}</span
      >
      <span>
        {{ 'tournament.rounds.pause' | translate }}
        {{ selectedRound()?.pause | date: 'HH:mm' }}</span
      >
      <span>
        {{ 'tournament.rounds.duration' | translate }}
        {{ selectedRound()?.duration | date: 'HH:mm' }}</span
      >
    </div>
    @if (selectedRound()?.status === 'not-started') {
      <button (click)="startRound()" class="primary" mat-flat-button>
        start
      </button>
    }

    <ul>
      @for (match of selectedRound()?.matches; track match.id) {
        <li>
          <div class="info">
            <span>
              {{ 'tournament.rounds.startTime' | translate }}
              {{ match.start | date: 'HH:mm' }}
            </span>
            <span>
              {{ 'tournament.rounds.fieldNumber' | translate }}
              {{ match.fieldNumber }}
            </span>
          </div>
          <div class="team">
            @for (team of match.teams1; track team.id) {
              <span>{{ team.name }}</span>
            }
          </div>
          <div class="score" (click)="changeResult(match)">
            <span>{{ match.score1 }}</span>
            <span>:</span>
            <span>{{ match.score2 }}</span>
          </div>
          <div class="team">
            @for (team of match.teams2; track team.id) {
              <span>{{ team.name }}</span>
            }
          </div>
        </li>
      }
    </ul>
  </main>
}
