header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: var(--primary-color);
  margin: 0;
}

main {
  padding-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li {
  border: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: 80px 1fr 80px;

  .info {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
  }
}

.score {
  display: flex;
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
  width: 100%;
  justify-content: center;
}

.team {
  width: 80px;
  text-align: center;
  place-self: center;
}

.time {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid var(--border-color);
}

button {
  width: 100%;
}
