<main>
  <button class="add-button" (click)="createNewTournament()">
    <mat-icon>add</mat-icon>
    <span>{{ 'tournament.new' | translate }}</span>
  </button>
  <ul>
    @for (tournament of tournaments$ | async; track tournament.id) {
      <li (click)="showTournament(tournament.id)">
        <figure></figure>
        <div class="description">
          <h4 class="name">{{ tournament.name }}</h4>
          <span>{{ tournament.startDate | date: 'dd.MM.YY' }}</span>
          <span>{{ tournament.location }}</span>
        </div>
        <mat-icon>schedule</mat-icon>
        <span>
          {{ tournament.startTime }}
        </span>
      </li>
    }
  </ul>
</main>
