<main>
  <button class="add-button" (click)="createNewTournament()">
    <mat-icon>add</mat-icon>
    <span>{{ 'tournament.new' | translate }}</span>
  </button>
  <ul>
    @for (tournament of tournaments$ | async; track tournament.id) {
      <li>
        <figure></figure>
        <div class="description" (click)="showTournament(tournament)">
          <h4 class="name">{{ tournament.name }}</h4>
          <span>{{ tournament.startDate | date: 'dd.MM.YY' }}</span>
          <span>{{ tournament.location }}</span>
        </div>
        <mat-icon (click)="showTournament(tournament)">schedule</mat-icon>
        <span (click)="showTournament(tournament)">
          {{ tournament.startTime }}
        </span>
        @if (auth.currentUser) {
          <button (click)="deleteTournament(tournament)" class="delete-button">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </li>
    }
  </ul>
</main>
