:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
}

mat-drawer-container {
  height: 100%;
}

main {
  height: 100%;
}

mat-nav-list {
  min-width: 200px;
}

:host ::ng-deep {
  .mdc-tab--active {
    mat-icon {
      color: var(--secondary-color);
    }
  }
}

@media print {
  header {
    display: none !important;
  }
}
