<header>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1>Bornheim Turnier</h1>
</header>

<mat-drawer-container hasBackdrop="true">
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <a
        (click)="drawer.toggle()"
        mat-list-item
        routerLink="/home"
        routerLinkActive="active">
        {{ 'menu.home' | translate }}
      </a>
      <a
        (click)="drawer.toggle()"
        mat-list-item
        routerLink="/tournaments"
        routerLinkActive="active">
        {{ 'menu.tournaments' | translate }}
      </a>
      @if (auth.currentUser) {
        <a (click)="logout()" mat-list-item>
          {{ 'menu.logout' | translate }}
        </a>
      } @else {
        <a
          (click)="drawer.toggle()"
          mat-list-item
          routerLink="/login"
          routerLinkActive="active">
          {{ 'menu.login' | translate }}
        </a>
      }
    </mat-nav-list>
  </mat-drawer>
  <main>
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
