<header>
  <h2>{{ store.name() }}</h2>
  <button mat-icon-button (click)="deleteTournament()">
    <mat-icon>delete</mat-icon>
  </button>
</header>

<ul>
  <li class="tournament">
    <button mat-icon-button (click)="changeTypeToLeft()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <p>
      {{ 'tournament.general.types.' + store.type() | translate }}
    </p>
    <button class="right" mat-icon-button (click)="changeTypeToRight()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </li>

  <li class="rounds">
    <button mat-icon-button (click)="removeRound()">
      <mat-icon>remove</mat-icon>
    </button>
    <p>
      {{ 'tournament.general.numberOfRounds' | translate }}
      {{ store.rounds().length }}
    </p>
    <button class="right" mat-icon-button (click)="addRound()">
      <mat-icon>add</mat-icon>
    </button>

    <span>{{
      'tournament.general.numberOfTeams'
        | translate: { numberOfTeams: store.numberOfTeams() }
    }}</span>
    <span>
      {{
        'tournament.general.recommendedNumberOfRounds'
          | translate: { recommendedNumberOfRounds: recomendedNumberOfRounds() }
      }}
    </span>
  </li>
</ul>
