:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 20px);
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
