body {
  --border-color: #ced4da;
  --primary-color: #6c757d;
  --primary-color-contrast: #fff;
  --button-primary-color: #495057;
  --button-primary-contrast-color: #fff;
  --success-color: #28a745;
}
